body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #718b6cae;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #4f5a49;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
    line-height: 1.6;
}

.info-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.info-item {
    text-align: center;
}

.info-item i {
    font-size: 40px;
    color: #4f5a49;
}

.info-item h3 {
    color: #4f5a49;
    margin: 10px 0 5px;
}

.info-item p {
    color: #555;
    margin: 0;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    font-weight: bold;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #414d3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #323a2d;
}

@media (max-width: 600px) {
    .info-box {
        flex-direction: column;
        gap: 20px;
    }
}