<% layout("/layouts/boilerplate") %>
<style>
    .borders {
        border: 1px solid black;
    }
</style>
    <div class="row mt-3">
        <h1 class="col-6 offset-3">SignUp</h1>
        <div class="col-6 offset-3">
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label ">Username</label>
                    <input name="username" id="username" type="text" class="form-control borders" required>
                    <div class="invalid-feedback">
                       Username cannot be empty!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label ">Email</label>
                    <input name="email" id="email" type="email" class="form-control borders" required>
                    <div class="invalid-feedback">
                        Invalid Email!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <input name="password" id="password" type="password" minlength="6" maxlength="6" class="form-control borders "
                            required>
                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                            <i class="fa-regular fa-eye"></i>
                        </button>
                    </div>
                    <div class="invalid-feedback">Please enter password of lenghth 6!</div>

                </div>
                <button class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>


    